<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Spring Boot Thymeleaf + Spring Security</title>

    <div th:replace="fragments/header :: header-css"/>
</head>

<body>

<div th:replace="fragments/header :: header"/>

	<div class="container">
		<div class="starter-template">
			<h2>Bienvenu!</h1>
        	<p>Cliquez <a th:href="@{/produits}">ici</a> pour voir la liste des produits.</p>
		</div>
	</div>
	
<div th:replace="fragments/footer :: footer"/>
	
</body>
</html>