<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
	
<div th:replace="fragments/header :: header"/>

	<div class="container">
		<div class="starter-template">
	
			<h2 th:inline="text">Salut [[${nomUtilisateur}]]</h2>
		
			<div class="card">
				<div class="card-header">Liste de produits</div>
				<div class="card-body">
				
					<form th:action="@{produits}" method="get">
						<div class="mb-3">
							<label class="control-label">Mot clé:</label>
							<input type="text" name="motCle" th:value="${motCle}" class="p-1">
							<button class="btn btn-primary">Chercher</button>
						</div>
					</form>
				
					<table class="table">
						<tr>
							<td>ID</td>
							<td>Designation</td>
							<td>Prix</td>
							<td>Quantité</td>
							<td>Action</td>
						</tr>
						<tr th:each="p:${pageProduits.content}">
							<td th:text="${p.id}"></td>
							<td th:text="${p.designation}"></td>
							<td th:text="${p.prix}"></td>
							<td th:text="${p.quantite}"></td>
							<td>
								<form th:action="@{deleteProduits(id=${p.id}, motCle=${motCle}, page=${currentPage}, size=${size})}" method="post">
									<input type="submit" class="btn btn-danger" value="Supprimer" 
										onclick="javascript:return confirm('Êtes vous sûre?')"/>
								</form>
							</td>
						</tr>
					</table>
					
					<ul class="nav nav-pills">
						<li th:each="page,status:${pages}">
							<a 	th:class="${status.index == currentPage ? 'btn btn-primary' : 'btn'}"
								th:href="@{produits(page=${status.index}, size=${size}, motCle=${motCle})}" 
							   	th:text="${status.index}">
							</a>
						</li>
					</ul>
					
				</div>
			</div>
		</div>
	</div>
	
<div th:replace="fragments/footer :: footer"/>
		
</body>
</html>